@import "../utils/mixins";
@import "./_logo";

.header {
    @media screen and (max-width:767px){
        // position: relative;
        max-width: $mobile;
    }
    @media screen and (min-width:$mobile) and (max-width:$tablet) {
        max-width: $tablet;
    }
    border-bottom: 1px solid #ECECEC;
    .header__container{
        @include flex(space-between, unset, row);
        @media screen and (max-width:767px) {
            display: block;
            margin: 0 auto;
            width: auto;
            // @include flex(center,center,column);
        }
        @media screen and (min-width:$mobile) and (max-width:$tablet) {
            @include flex(center,center,row);
            // width: $tablet;
            
        }
    }
    .header__menu-button{
        display: none;
        @media screen and (max-width:767px) {
            display: inline-flex;
        }
        z-index: 2;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .header__icon-close {
            display: none;
        }
        &.is-open .header__icon-close{
            display: block;
        }
        &.is-open .header__icon-menu {
            display: none;
        }
        &:active{
            fill:$aditional-color;
        }

    }
    .header__navigation {
        
        @include flex();
        .header__mobile-menu{
            display: none;
        }
        @media screen and (max-width:767px) {
            @include flex(space-between, center , row);
            .header__mobile-menu{
            display: none;
            z-index: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 110%;
            visibility: visible;
            // transform: translateY(-10%);
            background-color: #fff;
            &.is-open{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // position:fixed;
            }

            .header__mobile-contacts{
                padding-left: 40px;
                margin-bottom: 64px;
                .header__mobile-contacts-item{
                    &:first-of-type{
                        padding-bottom: 32px;
                        .header__mobile-contacts-link {
                            text-decoration: none;
                            font-family: "Roboto";
                            color: $aditional-color;
                            font-size: 34px;
                            font-weight: 500;
                            line-height: 1.3;
                            letter-spacing: 0.02em;
                            text-align: left;
                            }
                        }
                    &:last-of-type {
                    .header__mobile-contacts-link{
                            text-decoration: none;
                            font-family: "Roboto";
                            color: $aditional-text-color;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 1.2;
                            letter-spacing: 0.02em;
                            text-align: left;
                    }
                }
            }
                
            }
            .header__mobile-menu-info-container{
                padding-bottom: 20%;
                .header__mobile-socials{
                    display: flex;
                    @media screen and (max-width:400px){
                        flex-wrap: wrap;
                        .header__mobile-social-item{
                            &:last-child {
                                padding-left: 0;
                                padding-top: 10px;
                            }
                        }
                       
                    }
                    .header__mobile-social-item {
                        .header__mobile-social-link {
                            text-decoration: none;
                            color:$aditional-color;
                        }
                    }
                    padding-left: 40px;
                    padding-bottom: 48px;
                    
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    text-align: left;
                    
                    .header__mobile-social-item{
                        padding: 0 10px 0 10px;
                        &:first-child{
                            padding-left: 0;
                        }
                        &:not(:last-child){
                            border-right: 1px solid rgba(33, 33, 33, 0.2);
                        }
                    }
                }
            }
            .header__mobile-links{
                
                .header__mobile-links-item{
                    &:first-child{
                        padding-top: 48px;
                    }
                    &:not(:last-child) {
                        padding-bottom: 32px;
                    }
                    padding-left: 40px;
                    .header__mobile-link {
                        text-decoration: none;
                        color:$header-mobile-menu-link-text-color;
                        font-family: "Roboto";
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;
                        text-align: left;
                        transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
                        &--active {
                            color: $aditional-color;
                        }
                        &:active{
                            color:$aditional-color;
                        }
                    }
                    

                }
            }
           
            }
        }
        @media screen and (min-width:$mobile) and (max-width:$tablet) {
            margin-right: 84px;
        }
    
    }

}

