.worktype__title {
    @media screen and (max-width:$mobile){
        display: none;
    }
    @media screen and (min-width:$mobile) and (max-width:$tablet) {
        display: none;
    }
    color: $main-text-color;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;

}
.worktype {
    @include flex(space-between, unset, row);
    @media screen and (max-width: $mobile) {
        display: none;
    }
    @media screen and (min-width:$mobile) and (max-width:$tablet) {
        display: none;
      
    }
    .worktype__item {
        position: relative;
        display: block;
        overflow: hidden;
    }
    .worktype__img {
        display: block;
        width: 370px;
    }
    .worktype__backdrop {
        position: absolute;
        background: rgba(47, 48, 58, 0.8);
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    
    }
    .worktype__backdrop-content {
        color: $backdrop-text-color;
        padding: 27px 82px;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}
