$main-text-color: #212121;
$aditional-color: #2196F3;
$aditional-text-color: #757575;
$secondary-text-color:white;
$item-border-color:#EEEEEE;
$text-decoration-type:none;
$team-member-background-color:white;
$filter-button-hover-color:white;
$filter-button-background-color:#F5F4FA;
$team-section-background-color:#F5F4FA;
$footer-background-color:#2F303A;
$footer-contacts-link-color:#FFFFFF99;
$social-link-color: #AFB1B8;
$social-link-hover-color:#FFFFFF;
$client-icon-color:#AFB1B8;
$backdrop-text-color:#FFFFFF;
$modal-background-color:rgba(255, 255, 255, 1);
$portfolio-overlay-background-color: rgba(33, 150, 243, 0.9);
$subscribe-text-color:#FFFFFF;
$icon-send-color:#FFFFFF;
$header-mobile-menu-link-text-color:rgba(33, 33, 33, 1);
$form-label-text-color:rgba(117, 117, 117, 1);